
body {
  overflow: hidden;
  font-family: 'Lato', arial;
  background-color: rgb(14, 7, 10), #360808;
  height: 100%;
}
/*h1, h2, h3, h4, h5, h6, p{
  letter-spacing: 1px;
  text-align: center;
}*/
h4,p {
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: auto;*/
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  min-width: 75vh;
  align-items: center;
  justify-content: center;
  
}


/* FILE UPLOAD */

.dropzone {

  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center; 
  height: 200px;
  width: 400px;
  border: 5px dashed rgb(117, 112, 112);
  padding: 2rem;
  margin: auto;
  top: 150px;
  left: 750px;
  position: fixed;
}

.uploadTitle {
  justify-content: space-between;
  align-items: center; 
  top: 70px;
  left: 5px;
  padding: 1rem;

  position: fixed;
}
/*   <div style={{position: 'fixed', top: '150px', left: '450px', width: '300px', 
border: '3px solid #73AD21', backgroundColor: 'yellow'}}*/

.active {
  background-color: #5f5959;
}

button {
  padding: 1rem;
  margin: 1rem;
  font-size: medium;
}


.list-item {
  display: flex;
  padding: 0;
  margin: 8px 0;
  min-width: 300px;
  font-size: 22px;
  background-color: #d4d2d2;
  cursor: grab;
  border-radius: 10px;
}

.list-item > h3 {
  padding: 10px;
  margin: 0;
}

.list-item > span {
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  border-right: 2px solid white;
  padding: 10px;
  padding-right: 16px;
}

.next-position {
  border: 2px solid #34d44f;
  opacity: 0.2;
}

.sidebar {
  width: fit-content;
  min-height:100vh;
  background-color: #34d44f;
}

/*.sidebar {
  width: 250px;
  background-color: #0d1d02;
  color: white;

  flex-direction: left;
  align-items: left;
  padding: 1px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
  height: 100vh;
}


.sidebar img {
  width: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
}*/